/* 
    Document   : round
    Created on : Oct 28, 2011, 2:32:26 PM
    Author     : f0t0n
    Description:
        Purpose of the stylesheet follows.
*/
.round3{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.round4{border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.round5{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.round6{border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;}
.round7{border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;}
.round8{border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;}
.round9{border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;}
.round10{border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
.round11{border-radius:11px;-moz-border-radius:11px;-webkit-border-radius:11px;}
.round12{border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;}
.round13{border-radius:13px;-moz-border-radius:13px;-webkit-border-radius:13px;}
.round14{border-radius:14px;-moz-border-radius:14px;-webkit-border-radius:14px;}
.round15{border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px;}