/* 
    Document   : body__cork_1
    Created on : Oct 28, 2011, 1:25:20 PM
    Author     : f0t0n
    Description:
        Purpose of the stylesheet follows.
*/
body{
	background: url('/images/body_backgrounds/cork_1.png') repeat scroll 0 0 #fff;
}