/* 
    Document   : dev
    Created on : Jul 28, 2012, 12:10:57 AM
    Author     : f0t0n
    Description:
        Intended to be merged with main stylesheet eventually.
    Additional ( from Boyan ): 	Please use this file to place any styles you need,
                                                                while I am doing the cleaning up of dead CSS and the conversion to LESS.
                                                                Later I'll review the code here and place it in the appropriate files.
                                                                It will take some time, and I'll do it step by step.
                                                                After I start you can look into the less folder for the files already converted and 
                                                                edit them there. ( Recompilations is needed );
*/

#comment-form .wysiwyg {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/*Fix for the 'Status' dropdown in advanced options for comments (options were hidden)*/
#advancedOptions .chzn-search input[type="text"]{
    float: none;
}

.createBug_newLabelBtn{
    cursor: pointer;
    margin: 1px 0 1px 4px;
}

#content .ticket_content .description{
    word-wrap: break-word;
}
.signup_plans.plans_summary{
    margin: 10px 20px;
}
.signup_plans.plans_summary .title{
    font-weight: bold;
}
.form.left{
    padding-right: 20px;
}

.search-container{
    position: relative;
}
a.cancel-search{
    background: url("../images/icons/help_cancel_edit.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 16px;
    position: absolute;
    left: 177px;
    text-indent: -9999px;
    top: 7px;
    width: 16px;
    outline: none !important;
}
.collapse-icon,
.expand-icon{
    background: url("../images/icons/collapse.png") 0 0 repeat-x;
    width: 22px;
    height: 10px;
    cursor: pointer;
    margin: 3px 0 8px 3px;
    float:right;
}
.collapse-icon{
    background: url("../images/icons/expand.png") 0 0 repeat-x;
}
ul.message :nth-last-child(2){
    border: none !important;
}

.view-more-pager li.next a{
    display: block;
    width: 190px;
    border-color: #F0F0F0 !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    color: #0088CC !important;
    background-color: transparent;
    box-shadow: none;
    text-align: center;
    margin: 0 10px;
    padding: 10px !important;
    outline: none !important;
}
span.view-more-label{
    background: url("../images/arrow1.png") 100% 50% no-repeat;
    padding-right: 10px;
}
.view-more-pager li.previous a{
    display: none;
}
.shortcut-container a:hover{
    color: #E7D959;
}
.shortcut-container{
    position: fixed;
    top: 200px;
}
#content div#bug-list{
    width: 100%;
}
.ticket_changes a,
.ticket_changes a:hover{
    color: #5A6876;
}
#managePeopleBtn{
    font-size: 14px;
    text-decoration: none;
    width: 144px;
    margin: 8px;
}
#managePeopleBtn img{
    margin-bottom: -5px;
}

#sidebar .ui-resizable-handle{
    background: url("../images/icons/ellipsis.png") no-repeat 50% 50%;
    height: 14px;
    opacity: .2;
}
.calendar-tab{
    width: 24px;
    height: 24px;
    display: block;
    padding: 0;
    margin: 15px 0 0;
}

/*New users tutorial*/
.steps{
    margin: 0 auto;
    width: 912px;
    padding-top: 70px;
}
.step1{
    background: url("../images/new/step1.png") no-repeat;
}
.step2{
    background: url("../images/new/step2.png") no-repeat;
}
.step3{
    background: url("../images/new/step3.png") no-repeat;
}
.step-item{
    margin: 0 10px;
    width: 280px;
    float: left;
}
.step-item a{
    float: left !important;
    font-size: 12px !important;
    margin: 0 !important;
    width: auto !important;
}

ul.options li.open {
    width: 16px;
    height: 14px;
    background: url("../images/icons/i_open.png") no-repeat 0 0;
}
#content .ticket_info ul.options li.open {
    margin-right: 10px;
}

/* help dialog window*/
#helpDialog .help-back-link{
    float: left;
    display: block;
    width: 50px;
    height: 34px;
    outline: none !important;
    background: url("../images/icons/back-help-form.png");
    background-repeat: no-repeat;
}

#helpDialog .form-container .row.search label {
    left: 55px;
}
#helpDialog .form-container .row.search #cancel-search {
    background: url("../images/icons/close-help-form.png");
    background-repeat: no-repeat;
    right: 0px;
    top: 0px;
    height: 33px;
    width: 42px;
}
#content div#bug-list .comments .colorTip {
    white-space: normal;
    min-width: 300px;
}
#helpDialog .form input[type="text"] {
    width: 450px;
}
/*end help dialog window*/

/* help dialog window*/
#contact-us{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
#contact-us .row {
    margin-left: 0;
}
#contact-us .buttonLandingStyle{
    text-align: center;
    color: white;
}
/*end help dialog window*/

.api-ticket-email{
    font-style: italic;
    color: #59677A;
}

/*pro account*/
.payment{
    position: relative;
    margin-left: 145px;
}
.payment .plans_summary{
    background: url("../images/payment/payment-background.png");
    height: 286px;
    width: 252px;
    padding: 20px;
    color: white;
}
.payment .plans_summary .title{
    font-size: 21px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    margin-top: 5px;
}
.payment .plans_summary .price-month{
    width: 105px;
    float: left;
    text-align: center;
    margin-top: 5px;
}
.payment .plans_summary .or{
    width: 29px;
    float: left;
    height: 29px;
    background: url("../images/payment/payment-or.png");
}
.payment .plans_summary .price-year{
    float: left;
    width: 105px;
    text-align: center;
    margin-top: 5px;
}
.payment .plans_summary .price-wrapper{
    color: yellow;
    font-size: 14px;
    font-weight: bold;
}
.payment .plans_summary p{
    margin-bottom: 7px;
}
.payment .plans_summary .middle{
    padding-top: 45px;
}
.payment .plans_summary .middle p{
    font-size: 12px;
    font-weight: bold;
}
.payment .plans_summary .bottom{
    background: url("../images/payment/payment-arrow.png");
    position: absolute;
    width: 150px;
    height: 64px;
    margin-top: -75px;
    margin-left: 92px;
}
.payment  .payment-left-column{
    float: left;
}
.payment .payment-right-column{
    float: left;
    background: white;
    box-shadow: 0 0 2px #CCC;
    border-radius: 10px;
    padding: 10px;
    width: 270px;
    margin-top: 10px;
    min-height: 306px;
}
.payment .payment-right-column .card-number-row{
    width: 200px;
    float: left;
}
.payment .payment-right-column .card-cvc-row{
    width: 70px;
    float: left;
}
.payment .payment-right-column .card-expiry-month{
    width: 130px;
}
.payment .payment-right-column .card-expiry-year{
    width: 130px;
}
.payment .payment-right-column .row{
    margin: 4px 0;
}
.payment .payment-right-column .chzn-search{
    display: none;
}
.payment .payment-right-column .chzn-drop{
    margin-top: 6px;
}
/*end pro account*/

/* bootstrap fix */
.btn-warning:hover{
    background-color: #f89406 !important;
    background-image: -moz-linear-gradient(center top , #FBB450, #F89406) !important;
    background-image: linear-gradient(center top , #FBB450, #F89406) !important; /* CSS3 */
    background-image: -webkit-linear-gradient(center top , #FBB450, #F89406) !important;
    background-position: 0 -30px;
    -webkit-transition: background-position 0s linear;
}
button.btn-danger:hover{
    background-color: #bd362f !important;
    background-image: -moz-linear-gradient(center top , #EE5F5B, #BD362F) !important;
    background-image: linear-gradient(center top , #EE5F5B, #BD362F) !important; /* CSS3 */
    background-image: -webkit-linear-gradient(center top , #EE5F5B, #BD362F) !important;
    background-position: 0 -30px;
    -webkit-transition: background-position 0s linear;
}
.btn-primary:hover{
    background-color: #0055cc !important;
    background-image: -moz-linear-gradient(center top , #0088CC, #0055CC) !important;
    background-image: linear-gradient(center top , #0088CC, #0055CC) !important; /* CSS3 */
    background-image: -webkit-linear-gradient(center top , #0088CC, #0055CC) !important;
    background-position: 0 -30px;
    -webkit-transition: background-position 0s linear;
}
/* end bootstrap fix */

.disabled-button:hover{
    background-image: linear-gradient(to bottom, #EDEDED, #DFDFDF)  !important;
    color: #777777 !important;
    cursor: default;
}
.admin-tip{
    cursor: pointer;
}
.stripe-powered{
    text-align: center;
    width: 650px;
    margin-top: 40px
}
.invites-text{
    font-size: 11px;
    color: #5A6876
}
/*Icons for main tabs*/
a#calendar-tab, a#settings-tab{
    width: 3px;
    border-bottom: none !important;
    text-indent: -9999px;
    margin-top: 3px;
}
a#settings-tab{
    background: url("../images/icons/settings-icon.png") no-repeat;
}
a#calendar-tab{
    background: url("../images/icons/calendar-i.png") no-repeat;
}
#content #tabed-nav ul li:nth-last-of-type(-n+2){
    float: right;
}
#content #tabed-nav{
    margin-right: 282px;
}

#main .settings #feedback_code{
	float: right;
	width: 47px;
	text-align: center;
}

#main .settings .left_side{
	float: left;
}

#main .settings .left_side .b_panel{
	background: url("/images/feedback/fb_bg.png") no-repeat;
	height: 290px;
    width: 221px;
}

.settings .left_side .b_panel ul.b_styles li ul.b_positions{
	margin: 0 37px 0 0;
	padding-top: 8px;
}

.settings .left_side .b_panel ul.b_styles li ul.b_positions li{
	float: right;
	clear: both;
	margin-top: 12px;
}

.settings .left_side .b_panel ul.b_styles li ul.b_positions .b_first{
	height: 39px;
    width: 55px;
}
.settings .left_side .b_panel ul.b_styles li ul.b_positions .b_first.active{
	height: 39px;
    width: 122px;
}
.settings .left_side .b_panel ul.b_styles li ul.b_positions .b_second{
	height: 118px;
    width: 41px;
}
.settings .left_side .b_panel ul.b_styles li ul.b_positions .b_third{
	height: 39px;
    width: 108px;
}
.settings .left_side .b_panel ul.b_styles li ul.b_positions .b_fourth{
	height: 32px;
    width: 165px;
    margin-right: 4px;
}

.settings .left_side .b_panel ul.b_styles .b_azure ul.b_positions .b_first{
	background: url("/images/feedback/fb_sprite_cs.png") no-repeat scroll -115px 0px transparent;
}
.settings .left_side .b_panel ul.b_styles .b_blue ul.b_positions .b_first{
	background: url("/images/feedback/fb_sprite_cs.png") no-repeat scroll -115px -860px transparent;
}
.settings .left_side .b_panel ul.b_styles .b_gray ul.b_positions .b_first{
	background: url("/images/feedback/fb_sprite_cs.png") no-repeat scroll -115px -286px transparent;
}
.settings .left_side .b_panel ul.b_styles .b_green ul.b_positions .b_first{
	background: url("/images/feedback/fb_sprite_cs.png") no-repeat scroll -115px -577px transparent;
}

.settings .left_side .b_panel ul.b_styles .b_azure ul.b_positions .b_second{
	background: url("/images/feedback/fb_sprite_cs.png") no-repeat scroll -129px -51px transparent;
}
.settings .left_side .b_panel ul.b_styles .b_blue ul.b_positions .b_second{
	background: url("/images/feedback/fb_sprite_cs.png") no-repeat scroll -129px -911px transparent;
}
.settings .left_side .b_panel ul.b_styles .b_gray ul.b_positions .b_second{
	background: url("/images/feedback/fb_sprite_cs.png") no-repeat scroll -129px -337px transparent;
}
.settings .left_side .b_panel ul.b_styles .b_green ul.b_positions .b_second{
	background: url("/images/feedback/fb_sprite_cs.png") no-repeat scroll -129px -628px transparent;
}

.settings .left_side .b_panel ul.b_styles .b_azure ul.b_positions .b_third{
	background: url("/images/feedback/fb_sprite_cs.png") no-repeat scroll -62px -181px transparent;
}
.settings .left_side .b_panel ul.b_styles .b_blue ul.b_positions .b_third{
	background: url("/images/feedback/fb_sprite_cs.png") no-repeat scroll -62px -1041px transparent;
}
.settings .left_side .b_panel ul.b_styles .b_gray ul.b_positions .b_third{
	background: url("/images/feedback/fb_sprite_cs.png") no-repeat scroll -62px -467px transparent;
}
.settings .left_side .b_panel ul.b_styles .b_green ul.b_positions .b_third{
	background: url("/images/feedback/fb_sprite_cs.png") no-repeat scroll -62px -758px transparent;
}

.settings .left_side .b_panel ul.b_styles .b_azure ul.b_positions .b_fourth{
	background: url("/images/feedback/fb_sprite_cs.png") no-repeat scroll 0px -232px transparent;
}
.settings .left_side .b_panel ul.b_styles .b_blue ul.b_positions .b_fourth{
	background: url("/images/feedback/fb_sprite_cs.png") no-repeat scroll 0px -1092px transparent;
}
.settings .left_side .b_panel ul.b_styles .b_gray ul.b_positions .b_fourth{
	background: url("/images/feedback/fb_sprite_cs.png") no-repeat scroll 0px -518px transparent;
}
.settings .left_side .b_panel ul.b_styles .b_green ul.b_positions .b_fourth{
	background: url("/images/feedback/fb_sprite_cs.png") no-repeat scroll 0px -809px transparent;
}

.settings .left_side .b_panel ul.b_styles > li{
	display: none;
}
.settings .left_side .b_panel ul.b_styles > li.active{
	display: block;
}

#main .settings .right_side{	
	border-left: 1px solid #ECECED;
    color: #59677A;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
    margin: 0 0 30px 20px;
    padding: 0 0 0 20px;
    width: 407px;
}

.settings .right_side ul.b_options > li:first-child{
	padding-top: 5px;
}
.settings .right_side ul.b_options > li{
	clear: both;
	height: 56px;
    padding: 25px 0 0;
	border-bottom: 1px solid #ECECED;
}

.settings .right_side ul.b_options li label{
	width: 90px;
	float: left;
	line-height: 32px;
	font-weight: bold;
}

.settings .right_side ul.b_options li ul{
	float: left;
}

.settings .right_side ul.b_options li ul li{
	float: left;
	text-align: center;
}

.settings .right_side ul.b_options li.b_position ul li:first-child{
	margin-left: 0px;
}
.settings .right_side ul.b_options li.b_position ul li{
	background: url("/images/feedback/fb_sprite_position.png") no-repeat scroll 0px 0px transparent;
	width: 98px;
	height: 32px;
	cursor: pointer;
	margin-left: 11px;
}
.settings .right_side ul.b_options li.b_position ul li.active{
	background: url("/images/feedback/fb_sprite_position.png") no-repeat scroll 0px -32px transparent;
	color: #FFFFFF;
}

.settings .right_side ul.b_options li.b_style ul li:first-child{
	margin-left: 0px;
}
.settings .right_side ul.b_options li.b_style ul li{
	background: url("/images/feedback/fb_sprite_style.png") no-repeat scroll 0px 0px transparent;
	width: 70px;
	height: 32px;
	cursor: pointer;
	margin-left: 12px;
}
.settings .right_side ul.b_options li.b_style ul li.active{
	background: url("/images/feedback/fb_sprite_style.png") no-repeat scroll 0px -32px transparent;
	color: #FFFFFF;
}

.settings .right_side ul.b_options li.b_color ul li:first-child{
	margin-left: 0px;
}
.settings .right_side ul.b_options li.b_color ul li,
.settings .right_side ul.b_options li.b_color ul li div.active{
	width: 76px;
	height: 38px;
	cursor: pointer;
}
.settings .right_side ul.b_options li.b_color ul li{
	margin-left: 4px;
}
.settings .right_side ul.b_options li.b_color ul li.c_azure{
	background: url("/images/feedback/fb_sprite_color.png") no-repeat scroll 0px -1px transparent;
}
.settings .right_side ul.b_options li.b_color ul li.c_blue{
	background: url("/images/feedback/fb_sprite_color.png") no-repeat scroll 0px -81px transparent;
}
.settings .right_side ul.b_options li.b_color ul li.c_gray{
	background: url("/images/feedback/fb_sprite_color.png") no-repeat scroll 0px -172px transparent;
}
.settings .right_side ul.b_options li.b_color ul li.c_green{
	background: url("/images/feedback/fb_sprite_color.png") no-repeat scroll 0px -267px transparent;
}
.settings .right_side ul.b_options li.b_color ul li div.active{
	background: url("/images/feedback/fb_sprite_color.png") no-repeat scroll 0px -344px transparent;
}
.grey-tip{
    color: #5A6876;
    line-height: 25px;
    margin: 10px 0;
    font-size: 12px;
}
.company-plan h4{
    font-size: 13px;
    color: #5A6876;
    margin: 10px 0;
}

#header .top_tab.summary_tickets{
	padding: 0;
}
#header .top_tab.summary_tickets a{
	background: url("../images/icons/summary_tickets.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 22px;
    margin: 8px 0 0;
    position: relative;
    width: 22px;
}
#header .top_tab.t_separator{
	background: url("../images/bg_separator.png") no-repeat scroll 0 0 transparent;
	padding: 0;
	margin-left: 5px;
    margin-right: 10px;
	display: block;
    height: 45px;
    width: 2px;
}

#summary-tickets #b_project_list{
	margin: 10px 15px 10px 15px;
	padding-bottom: 20px;
	border-bottom: 1px solid #AAAAAA;
}

#summary-tickets #b_project_list .b_project_name{
	color: #AAAAAA;
    display: block;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    width: 100%;
	padding-top: 25px;
}

#summary-tickets #b_project_list .b_project_name div{
	float: left;
	margin-top: -7px;
}

#summary-tickets #b_project_list .b_project_name hr{
	background-color: #AAAAAA;
    display: block;
    height: 1px;
    position: relative;
    margin-left: 10px;
}

#summary-tickets #b_project_list div.b_tickets > div{
	width: 100%;
	height: 35px;
}

#summary-tickets #b_project_list div.b_tickets > div.b_project_name{
	height: 25px;
}

#summary-tickets #b_project_list div.b_tickets > div.b_project_name.disabled{
	display: none;
}

#summary-tickets #b_project_list div.b_tickets > div .t_status{
	display: block;
    height: 17px;
    width: 3px;
    float: left;
}

#summary-tickets #b_project_list div.b_tickets > div div{
	float: left;
	display: block;
}

#summary-tickets #b_project_list div.b_tickets > div .t_number{
	font-weight: bold;
    margin: 0 7px;
    color: #AAAAAA;
}

#summary-tickets #b_project_list div.b_tickets > div .t_text{
	font-weight: bold;
	color: #646877;
}

#summary-tickets #b_project_list div.b_tickets > div .t_text span{
	color: #AAAAAA;
	margin-left: 5px;
}

#summary-tickets .b_closed_tickets{
	margin: 10px 15px;
	display: block;
	height: 80px;
	width: 100%;
}
#summary-tickets .b_closed_tickets .b_label{
	padding-top: 30px;
	margin-right: 20px;
	color: #AAAAAA;
	float: left;
}
#summary-tickets .b_closed_tickets ul.b_daily_score{
	border-bottom: 3px solid #AAAAAA;
    float: left;
    height: 80px;
    padding: 0 15px;
    position: relative;
    width: 740px;
}
#summary-tickets .b_closed_tickets ul.b_daily_score li{
	float: left;
	margin-left: 12px;
    width: 13px;
	height: 100%;
}
#summary-tickets .b_closed_tickets ul.b_daily_score li:first-child{
	margin-left: 0px;
}
#summary-tickets .b_closed_tickets ul.b_daily_score li .b_graph{
	cursor: pointer;
	border-radius: 3px 3px 0px 0px;
	background-color: #AAAAAA;
	position: absolute;
	width: 15px;
	bottom: 0;
}
#summary-tickets .b_closed_tickets ul.b_daily_score li .b_score,
#summary-tickets .b_closed_tickets ul.b_daily_score li .b_date{
	display: none;
}
#summary-tickets .b_closed_tickets ul.b_daily_score li .b_score{
	background: url("../images/bubble_count.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    margin-left: -6px;
    padding: 2px 0 0;
    text-align: center;
    width: 28px;
    position: absolute;
}
#summary-tickets .b_closed_tickets ul.b_daily_score li .b_date{
	background: url("../images/date_b.png") no-repeat scroll 0 0 transparent;
    color: #767676;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    margin-left: -62px;
    margin-top: 83px;
    padding: 11px 0 0;
    text-align: center;
    width: 140px;
}
#summary-tickets .b_closed_tickets ul.b_daily_score li:hover .b_score,
#summary-tickets .b_closed_tickets ul.b_daily_score li:hover .b_date{
	display: block;
}
#summary-tickets .b_closed_tickets ul.b_daily_score li:hover .b_graph{
	background-color: #2875C4;
}
.comment_actions{
    float: right;
    clear: both;
    height: 5px;
}
.comment_actions * {
    float: left;
    margin-right: 2px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    cursor: auto !important;
}
/*Micro tasks*/
.task-icon{
    width: 33px;
    height: 26px;
    background: url("../images/icons/icon_task.png") no-repeat scroll 0 0 transparent;
    float: right;
}
.task-list{
    border-top: 1px solid #f1f1f1;
}
.task-box{
    margin-top: 10px;
}
.task-item{
    margin-left: -15px;
    color: #5A6876;
    padding: 7px 0 7px 15px;
    display: block;
    background: url("../images/task-bg.png") repeat-y;
}
.task-item input{
    margin: 0 5px 0 0 !important;
}
.add-task{
    margin-top: 10px;
    display: block;
    width: 10px;
    height: 10px;
    background: url("../images/icons/icon_task_plus.png");
}
.crossed{
    text-decoration: line-through;
}

.access_del .comment_delete{
    visibility: hidden;
}
.access_del:hover .comment_delete{
    visibility: visible;
}